.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

html, body, #root, .App {
    height: 100%;
}

#companyInfo {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#companyInfo h1 {
    /* font-family: 'Texturina', serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Piazzolla', serif;
}

#companyInfo p {
    font-family: 'Roboto', sans-serif;
}



/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    #companyInfo h1 {font-size:1.5rem;} /*1rem = 16px*/
    #companyInfo p {font-size:1.5rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #companyInfo h1 {font-size:2rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #companyInfo h1 {font-size:2.5rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #companyInfo h1 {font-size:5rem;} /*1rem = 16px*/
    #companyInfo p {font-size:1.5rem;} /*1rem = 16px*/
}

