#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

html, body, #root, .App {
    height: 100%;
}

#corpInfo {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#corpInfo h1 {
    color: #ffffff;
    /* font-family: 'Texturina', serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Piazzolla', serif;
    font-size:5rem;
    margin: 0;
}

#ai {
    color: #126CFD;
    text-shadow: 1px .5px 0px white;
}

#corpInfo p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;
}
